
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "responsive.css";

/* Variable define  */
:root{
    --primary-color:#ab2c48;
    --secondary-color: #43121d;
    --third-color:#f98169;
    --white-color:#fff;
    --text-color:#555;
    --text-gray: #999;
    --black-color:#000;
    --primary-font:"roboto","sans-serif";
    --secondary-font:"Quicksand","sans-serif";
}

*,*:after,*:before{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:active,
:hover,
:focus{
    outline: 0 !important;
    outline-offset: 0;
}
a,
a:hover{
    text-decoration: none;
}
a:hover{
    color: var(--primary-color)!important;
}
ul,ol{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-weight: var(--primary-color);
    font-size: 100%;
    font-weight: 400;
}

/* Custom Scrollbar  */
::-webkit-scrollbar{
    width: 0.625rem;
}
::-webkit-scrollbar-track{
    background-color: var(--white-color);
}
::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
}

/* Css Custom Design  */
h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: var(--secondary-color);
}
h2{
    font-weight: 700;
    font-size: 2.25rem;
    text-transform: capitalize;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    line-height: 3rem;
}
h4{
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 0.5rem;
}
h5{
    color: var(--primary-color);
    text-transform: capitalize;
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
p{
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 1px;
}
.main_btn{
    display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: var(--primary-color);
    border: 0.1875rem solid var(--primary-color);
    color: var(--white-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 /19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}
.white_btn{
    padding: 0.625rem 1.875rem;
    line-height: 25px;
    background-color: var(--white-color);
    border: 0.1875rem solid var(--white-color);
    color: var(--text-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 /19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}
.main_btn:hover{
    background-color: transparent;
    color: var(--primary-color);
}
.white_btn:hover{
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.wrapper{
    padding-top: 8.25rem;
    padding-bottom: 8.25rem;
}
.text-content{
    width: 70%;
    margin: auto;
}
.counter-section h2,
.testimonial-section h2,
.book-food-text h2{
    color: var(--white-color);
}

/* === Header Design === */
.navigation_wrap{
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.navigation_wrap .nav-item{
    padding: 0 0.625rem;
    transition: all 200ms linear;
}
.navbar-toggler:focus{
    outline: unset;
    border: unset;
    box-shadow: none;
}
.nav-link{
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--primary-color);
    letter-spacing: 1px;
}.navigation_wrap .main_btn{
    padding: 0.3125rem 1.4375rem;
    box-shadow: none;
    margin-left: 0.625rem;
}
.navigation_wrap.scroll-on{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0 0.125rem 1.75rem 0 rgba(0,0,0, 0.9);
    transition: all .15s ease-in-out 0s;
}
.logo{
    height: 4rem;
    width: 5rem;
}

/* Top Banner  */
.top-banner{
    width: 100%;
    background: url('/assests/images/bg-1.jpg') no-repeat center;
    background-size: cover;
    padding: 16.875rem 0 9.375rem;
}

/* Conter Design  */
.counter-section{
    background-color: var(--primary-color);
    padding: 2.5rem 0;
}
.counter-section p{
    color: var(--white-color);
    text-transform: uppercase;
}
.counter-section h2 span{
    color: var(--white-color) !important;
}
